/Characteristics.java
/COFFHeader.java
/DataDirectory.java
/DllCharacteristics.java
/ExportDirectoryTable.java
/ImportDirectoryTableEntry.java
/MachineType.java
/MagicNumber.java
/OptionalHeaderPE32Fields.java
/OptionalHeaderPE32xFields.java
/OptionalHeaderStandardFields.java
/SectionFlags.java
/SectionHeader.java
/WindowsSubsystem.java
